.App{
  display: flex;
}
a {
  text-decoration: none;
}
.MuiPopover-root .MuiMenu-paper {
  background-color: #eeeeee;
  color: #000;
  opacity: 0;
}
.cell-wrap {
white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}